<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="d-inline">Login to Boulder Britain!</h1>
            <a href="/locations" class="btn btn-outline-success my-auto">All Locations</a>
        </div>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="border border-2 border-top border-bottom my-3 p-3">
                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <button class="btn btn-success w-100 mt-3 mb-5">Login</button>
        </form>
    </div>
</div>